@media only screen and (max-width: 600px) {
    body {
        background: url(./background_m.png) center/cover no-repeat;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }

    header, footer {
        max-height: 0;
        display: none;
    }

    .hover-container {
        position: relative;
        width: 90vw;
        height: 100vh;
    }

    .hover-item {
        width: 10vw;
        height: 10vw;
        max-width: 50px;
        max-height: 50px;
        background-color: rgba(255, 255, 255);
        border: 2px solid #000;
        border-radius: 10px;
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .t1 {
        bottom: 61%;
        right: -9%;
    }

    .t2 {
        bottom: 50%;
        right: -5%;
    }

    .t3 {
        top: 23%;
        right: -1%;
    }

    .t4 {
        top: 15%;
        left: 17%;
    }

    .t5 {
        bottom: 57%;
        left: 6%;
    }
    
    a {
        height: 100%;
        width: 100%;
    }
}
